<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PhotoGallery</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("contact","Contact","Home")</li>
                <li>@Html.ActionLink("services", "Services", "Home")</li>
                <li>@Html.ActionLink("about", "About", "Home")</li>
                <li>@Html.ActionLink("work", "Index", "Home")</li>                
            </ul>
        </div>
        <div class="socialButtons">
            <a class="btn-twitter">
               
            </a>
        </div>
    </div>
    <div class="pageContent">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function () {
            var pageAbsPath = '@HttpContext.Current.Request.Url.AbsolutePath';
            window.photoGalleryClientHelper.showActiveMenuItem(pageAbsPath);
        });
    </script>
</body>
</html>
